* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}
.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #ff7755;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #ff7755;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
/* =============================== Solution ============================ */
.header li,
.nav li {
  list-style: none;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}
/* ---------------------------------- */
.header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 2fr;
  align-items: center;
}
.logo {
  justify-self: start;
}
.menu > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
/* --------------------------------------- */
.nav > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
/* --------------------------------------- */
.sidebar {
  grid-row: 2/4;
  display: grid;
  gap: 50px;
}
.sidebar > div {
  display: grid;
  place-items: center;
}
/* ----------------------------------------- */
.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  gap: 15px;
}
/* ---------------------------------------- */
.footer {
  grid-column: 1/-1;
}
