.print-btn {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.PreviewCV {
  --thickness: clamp(2px, 0.3vw, 5px);
  --space: clamp(10px, 2vw, 20px);
  --small-space: clamp(5px, 1vw, 10px);
  --tiny-space: clamp(3px, 0.5vw, 5px);

  border: var(--thickness) solid;
  padding: clamp(var(--small-gap), 5%, 50px);
  display: flex;
  flex-direction: column;
  gap: var(--space);
  font-size: clamp(12px, 1.8vw, 27px);
  color: black;
  margin: 8px;
  width: calc(100% - 16px);
  max-width: 1100px;
}

.PreviewCV hr {
  height: var(--thickness);
}

.PreviewCV h3 {
  font-size: clamp(12px, 2.1vw, 27px);
}

.PreviewCV .list {
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
}

.list-item {
  border-left: var(--thickness) solid;
  padding-left: var(--tiny-space);
  display: flex;
  flex-direction: column;
  gap: var(--tiny-space);
}

.list-item > div {
  display: flex;
  justify-content: space-between;
  gap: var(--tiny-space);
}

.list-item > div > span {
  text-align: right;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--tiny-space);
}
