.home-page {
  background-image: url(./images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding-left: 25%;
  padding-right: 25%;
  color: var(--light-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.home-page > h2 {
  font-family: "Fredoka One", cursive;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;

  background: linear-gradient(
    to right,
    var(--tone-f-color),
    var(--minor-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.home-page > p {
  font-family: "Fredoka One", cursive;
  color: var(--minor-color);
}

.home-info {
  background-color: rgba(0, 0, 0, 0.7);
  padding: var(--gap);
  border-radius: var(--rad);
  width: clamp(300px, 70%, 28rem);
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

@media screen and (max-width: 480px) {
  .home-page {
    padding-left: var(--gap);
    padding-right: var(--gap);
  }
  .home-page > h2 {
    font-size: 2rem;
  }
}
