.PreviewControls > summary {
  cursor: pointer;
  background-color: var(--color-1);
  color: var(--color-2);
  padding: 5px 10px;
  border-radius: 4px;
}

.PreviewControls > .details {
  padding: 5px;
  border-left: 3px solid;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.check-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.check-wrapper :is(input[type="checkbox"], label) {
  accent-color: var(--color-1);
  cursor: pointer;
}
