.list-element.project {
  padding: var(--gap) var(--large-gap);
  gap: var(--small-gap);
}

.titled-list.project > h2 {
  background-color: var(--accent-light);
  color: #f7f5f5;
  padding: var(--small-gap);
  border-radius: var(--small-rad);
  font-weight: normal;
  text-align: center;
}
