footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
  padding: var(--small-gap);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
  font-size: 1.2rem;
}

.social-icon:hover {
  color: var(--accent);
}

@media screen and (max-width: 480px) {
  footer {
    flex-direction: column;
  }
}
