header {
  background-color: var(--dark-color);
  color: var(--tone-f-color);

  font-family: "Sansita Swashed", cursive;
  letter-spacing: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: var(--gap);
  padding: var(--small-gap);
}

header > img {
  height: clamp(1.5rem, 7vw, 3.3rem);
}

header > h1 {
  font-size: clamp(1.25rem, 7vw, 3rem);
}
