.PreviewPersonal {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    "fullname    info"
    "title       info"
    "bar         bar"
    "description description";

  gap: var(--space);
  align-items: flex-start;
}

.PreviewPersonal > h3 {
  grid-area: fullname;
  font-size: clamp(12px, 3.6vw, 40px);
  text-transform: uppercase;
}
.PreviewPersonal > span {
  grid-area: title;
  font-size: clamp(12px, 2.7vw, 30px);
  text-transform: capitalize;
}

.PreviewPersonal > ul {
  grid-area: info;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: var(--tiny-space);
  align-items: center;
}

.PreviewPersonal > ul > li {
  display: contents;
}

.PreviewPersonal > ul > li > i {
  justify-self: center;
}

.PreviewPersonal > hr {
  grid-area: bar;
}

.PreviewPersonal > p {
  grid-area: description;
}
