header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--small-gap);
  padding: var(--small-gap) var(--gap);

  background-color: var(--bg-color3);
  font-size: 1.5rem;
  border-bottom: 2px solid var(--accent);
  user-select: none;
}

header > .logo {
  display: flex;
  align-items: center;
  gap: var(--small-gap);

  font-weight: bold;
}

.logo > * {
  font-size: 2.5rem;
}

.i-logo {
  color: var(--accent);
}

@media screen and (max-width: 480px) {
  header {
    padding: var(--small-gap);
  }
  .logo > * {
    font-size: 1.8rem;
  }
}
