aside {
  background-color: var(--bg-color1);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  user-select: none;
}

aside.hide {
  display: none;
}

.list-element.side-list {
  padding: 0;
  gap: var(--gap);
}

.side-list > h2 {
  border-bottom: 2px solid;
  padding-bottom: var(--tiny-gap);
  font-weight: normal;
}

.side-item {
  background-color: var(--bg-color1);
  border-radius: var(--small-rad);
  border-left: var(--small-rad) solid transparent;
}

.side-selected {
  border-left-color: var(--accent);
  background-color: var(--accent-bg);
}

.side-item.edit-mode {
  background-color: inherit;
  color: inherit;
  padding: var(--small-gap);
  border-left-color: transparent;
}

.side-list > ul .icon-text-btn > i {
  color: var(--accent);
}

.side-list .side-selected .icon-text-btn > i {
  color: inherit;
}

@media screen and (max-width: 480px) {
  aside {
    padding: var(--small-gap);
  }
}
