aside {
  background-color: var(--bg-color1);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  user-select: none;
}

aside.hide {
  display: none;
}

.list-element.side-list {
  padding: 0;
}

.side-list > h2 {
  border-bottom: 2px solid var(--t-color1);
  padding-bottom: 5px;
  margin-bottom: var(--small-gap);
}

.side-item {
  background-color: var(--bg-color1);
  border-radius: var(--small-rad);
  border-left: var(--small-rad) solid transparent;
}

.side-item:hover {
  filter: contrast(85%);
}

.side-selected {
  border-left-color: var(--accent-light);
  background-color: var(--accent-bg);
}

.side-item.edit-mode {
  background-color: inherit;
  color: inherit;
  padding: var(--small-gap);
  border-left-color: transparent;
}

.common-btn.add-project-btn {
  width: 100%;
  gap: var(--gap);
  padding: var(--small-gap) var(--gap);
  border-radius: var(--small-rad);
  background-color: var(--bg-color2);
}

.add-project-btn:hover {
  filter: contrast(85%);
}

@media screen and (max-width: 480px) {
  aside {
    padding: var(--small-gap);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    user-select: none;
  }
}
