@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Peralta&display=swap");
:root {
  --rad: 0.62rem; /*11px*/
  --gap: 1.12rem; /*20px*/
  --small-gap: 0.6rem; /*10px*/

  --main-bg-color: #f0eef1;
  --main-f-color: teal;

  --minor-bg-color: #fff;
  --minor-f-color: #000;

  --tone-bg-color: teal;
  --tone-f-color: #f0dba9;

  --overlay-bg-color: #00000070;
  --overlay-f-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
button,
input {
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  border: none;
}
h2 {
  font-size: 2rem;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}
/* =============================== Header ======================================= */
header {
  font-family: "Peralta", "Poppins", sans-serif;
  background-color: var(--tone-bg-color);
  color: var(--tone-f-color);
  padding: var(--gap);
  padding-left: 50px;
  display: flex;
  align-items: center;
  gap: var(--gap);
}
header > img {
  height: 100%;
}
/* =============================== Main ======================================= */
main {
  background-color: var(--main-bg-color);
  color: var(--main-f-color);
  display: none;
  place-items: center;
  gap: var(--gap);
  padding: var(--gap);
}
main.show {
  display: grid;
}
/* ================================ Game Start ================================== */
.start-panel.overlay {
  font-family: "Peralta", "Poppins", sans-serif;
  background-color: var(--tone-bg-color);
  color: var(--tone-f-color);
  justify-items: center;
  padding: var(--small-gap);
  font-size: 1.2rem;
}
.start-panel img {
  margin-top: var(--gap);
  width: clamp(5.5rem, min(20vw, 25vh), 11.12rem);
}
.welcome-label {
  font-size: clamp(1.4rem, 5.3vw, 2rem);
}
.start-panel form {
  display: grid;
  gap: var(--gap);
  place-items: center;
  padding: var(--gap);
  width: 80%;
}
.label-input {
  width: 100%;
  display: grid;
  gap: var(--small-gap);
  justify-items: start;
}
.start-panel button {
  margin-top: var(--gap);
  width: 60%;
  border-color: var(--tone-f-color);
}
.start-panel button:hover {
  background-color: var(--tone-f-color);
  color: var(--tone-bg-color);
}

/* ================================ Board ======================================= */
.player-label {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: normal;
  background-color: var(--main-f-color);
  color: var(--main-bg-color);
  padding: var(--small-gap) var(--gap);
  border-radius: var(--rad);
  text-align: center;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(3, max-content);
  place-content: center;
  gap: var(--small-gap);
}

.square {
  width: 5.5rem;
  height: 5.5rem;
  border: 0.3rem solid var(--main-f-color);
  border-radius: 1rem;
  display: grid;
  place-content: center;
  font-size: 3.56rem;
}
/* ================================ controls ====================================== */
.controls {
  width: 100%;
  display: flex;
  gap: var(--gap);
  justify-content: center;
  font-size: 1.2rem;
}
/* ================================= Result ====================================== */
.result.overlay.show {
  display: grid;
  place-content: center;
}
/* ================================ Overlay ===================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg-color);
  color: var(--overlay-f-color);
  display: none;
  text-align: center;
  font-size: 3rem;
  overflow-y: auto;
}
.overlay.show {
  display: block;
}
.overlay-content {
  display: grid;
  place-content: center;
  place-items: center;
  min-height: 100%;
}
/* =============================== Footer ======================================= */
footer {
  background-color: var(--minor-bg-color);
  color: var(--minor-f-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
  padding: var(--small-gap);
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
}
a.round-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.round-social img {
  border-radius: 50%;
  height: 1.6rem;
  transition: all 0.3s;
}
.round-social img:hover {
  transform: rotate(360deg) scale(120%);
}
/* ============================================================ */
@media screen and (max-width: 480px) {
  :root {
    --gap: 0.6rem;
  }
  header {
    padding: var(--gap);
  }
  footer {
    flex-direction: column;
  }
}
/* =============================== button ================================== */
button {
  background-color: inherit;
  color: inherit;
  width: 8.3rem;
  padding: var(--small-gap) var(--gap);
  border: 0.167rem solid var(--main-f-color);
  border-radius: var(--rad);
  cursor: pointer;
}

button:hover {
  background-color: var(--main-f-color);
  color: var(--main-bg-color);
}

input {
  padding: var(--small-gap);
  border-radius: var(--rad);
  min-width: 12rem;
  width: 100%;
}
