.task-element {
  margin: 10px;

  padding: calc(var(--small-gap) / 2) var(--small-gap);
  border: 2px solid;
  border-radius: 5px;
}
.task-element summary {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  gap: 5px;
}
.task-element summary::marker {
  content: none;
}
.task-element p {
  font-size: smaller;
  margin-left: 10px;
  margin-top: 5px;
}

.task-title {
  flex-grow: 1;
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
