.header {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .logo {
    margin: auto; /*can also be used to put logo in the center
} */
ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
}
/* ================================================= */
.header {
  font-family: monospace;
  background: papayawhip;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
