@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --rad: 0.45rem;
  --gap: 1.12rem;
  --small-gap: 0.6rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
button,
input {
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  border: none;
  color: inherit;
}
a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
h2 {
  font-size: 1.4rem;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}
/* =============================== Header ======================================= */
header {
  background-color: #000;
  color: #fff;
  padding: var(--gap);
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}
header .btn {
  width: auto;
  background-color: inherit;
  border: 0.12rem solid #fff;
  font-size: 0.9rem;
}
/* =============================== Main ======================================= */
main {
  background-color: #f0eef1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.7rem, 1fr));
  grid-auto-rows: max-content;
  gap: var(--gap);
  padding: var(--gap);
}
/* ================================= Card ======================================= */
.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  padding: var(--gap);
  border-radius: var(--rad);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  min-width: 11.12rem;
}
.btn {
  font-size: 1.1rem;
  width: 100%;
  padding: var(--small-gap) var(--gap);
  border-radius: var(--rad);
  cursor: pointer;
}
.btn:hover {
  filter: brightness(90%);
}
.red-bgc {
  background-color: #ff9c9c;
}
.green-bgc {
  background-color: #9cff9c;
}
/* =============================== Footer ======================================= */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
  padding: var(--small-gap);
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
}
a.round-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.round-social img {
  border-radius: 50%;
  height: 1.6rem;
  transition: all 0.3s;
}
.round-social img:hover {
  transform: rotate(360deg) scale(120%);
}
/* ============================== Add-Button =================================== */
.round-add {
  position: fixed;
  right: var(--gap);
  bottom: var(--gap);

  background-color: #000;
  color: #fff;

  border-radius: 50%;
  transition: transform 0.3s;
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 50px;
  line-height: 60px;

  z-index: 1;
  opacity: 0.7;
}
.round-add:hover {
  opacity: 1;
  transform: rotate(90deg) scale(110%);
}
/* ==================================== Add-Form =========================================== */
.add-form {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}
.add-form.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-form > form {
  width: 16.7rem;
  background-color: #f0eef1;
}
.t-input {
  width: 100%;
  padding: var(--small-gap);
  border-radius: var(--rad);
}
.t-input.invalid {
  background-color: rgb(255, 218, 218, 50%);
}
.t-input:focus {
  background-color: rgba(0, 0, 0, 0.05);
}
.check-wrapper input[type="checkbox"] {
  accent-color: white;
  width: 1.15rem;
  height: 1.15rem;
}
.check-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
}
.add-form output {
  border-left: 0.12rem solid red;
  padding-left: var(--small-gap);
  color: red;
  font-size: 0.78rem;
  align-self: flex-start;
}
/* ============================================================ */
@media screen and (max-width: 480px) {
  :root {
    --gap: 0.6rem;
  }
  header {
    padding: var(--gap);
  }
  footer {
    flex-direction: column;
  }
}
