.g-map {
  border: var(--small-rad) solid var(--tone-f-color);
  border-radius: var(--small-rad);
  height: max(17rem, 40vw);
  width: 100%;
}
.gmap_canvas {
  overflow: hidden;
  background: none;
  width: 100%;
  height: 100%;
}
