.info-list {
  background-color: var(--tone-bg-color);
  padding: 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.g-map {
  border: 4px solid var(--tone-f-color);
  border-radius: 4px;
  height: 400px;
  width: 100%;
}
.gmap_canvas {
  overflow: hidden;
  background: none;
  width: 100%;
  height: 100%;
}
