.task-form {
  padding: var(--small-gap);
  border-radius: var(--small-rad);
  margin-top: var(--small-gap);
}

.form-important > button {
  gap: var(--small-gap);
}

.form-important-checked {
  color: var(--gold);
}
