.project-item {
  position: relative;
  display: flex;
  width: 100%;
}

.project-item-btn {
  flex-grow: 1;
  justify-content: flex-start;
  padding: var(--tiny-gap) var(--small-gap);
  padding-right: calc(30px + (3 * var(--small-gap)));
}

.project-item-controls {
  position: absolute;
  right: var(--small-gap);
  top: 8.5px;
  display: flex;
  gap: var(--small-gap);
  align-items: center;
  visibility: hidden;
}

.side-item:hover .project-item-controls {
  visibility: visible;
}
