.tab > nav {
  position: sticky;
  top: 0;
  user-select: none;
}

.tab > nav > ul {
  display: flex;
  justify-content: center;
  gap: var(--gap);

  background-color: var(--dark-color);
  color: var(--light-color);
}

.tab > nav li {
  padding: var(--small-gap);
  cursor: pointer;
  border-radius: var(--small-rad) var(--small-rad) 0 0;
}

.tab > nav li:hover {
  color: var(--tone-f-color);
}

.tab > nav li.selected {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.tab > section {
  height: 100%;
}

.tab {
  display: flex;
  flex-direction: column;
}
